body {
  background: white; /* try type yellow */
  color: #323232;

  margin-right: auto;
  margin-left : auto;
  width:700px;
  
  height: 100vh;

  text-align:center;
  align-items: center;
  justify-content: center;
  
  font-family: Helvetica neue, roboto;
}
button {
  /* 文字サイズを1.4emに指定 */
	font-size: 1.4em;
	/* 文字の太さをboldに指定 */
	font-weight: bold;
	/* 縦方向に10px、
	 * 横方向に30pxの余白を指定 */
	padding: 30px 30px;
}

.theme {visibility:hidden;}

.box14{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
.box14 p {
    margin: 0; 
    padding: 0;
}
